root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{html5,svg,min.css,min.js}]
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false
